<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Mobile Number:</span>
            <input type="text" ng-model="phnumber" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;">
               <a ng-click="search(phnumber)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="pull-right"  ng-if="customerdetails"><form><input type="text" id="headingname" ng-model="customerdetails.name" ng-disabled="true"><input type="text" id="headingname" ng-model="customerdetails.address" ng-disabled="true"><input type="text" id="headingname" ng-model="customerdetails.cityname" ng-disabled="true"> </form></div>
                  <div class="widget-header">
                    <div class="title">
                      Active Subscription Data
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 19px;">
                  <div class="row">                    
                    <div class="col-lg-12 col-md-12" style="height: 64px;" ng-if="subdata.length == 0">
                      <div class="empty-cart" style="margin-top: -22px;">
                         <h3 class="no-products" style="text-align: center;">Sorry !!!</h3>
                         <div class="align-center">
                            <div>No subscription available</div>
                           </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12" style="height: 74px;overflow-y: auto;" ng-if="subdata.length > 0">
                    <div class="col-xs-4 col-sm-4 col-md-4" ng-repeat="s in subdata">
                        <div class="mini-widget">
                            <div class="mini-widget-body">
                            <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 4px 10px;height: 33px;overflow-y: auto;font-size: 17px;font-weight: 600;text-align: center;" ng-click="showSubDetails(s.id)">
                                      <span style="display: inline-block;white-space: pre-line;">{{s.name}}</span>
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
              <div class="col-lg-12 col-md-12" ng-if="milk">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Subscription Details
                    </div>                   
                  </div>
                  <div class="widget-body" style="padding-top: 19px;">
                  <div class="row">
                    <div class="col-lg-12 col-md-12" style="height:593px;overflow-y: auto;">
                      <form class="form-horizontal no-margin"  name="subscription_form">
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Product Type:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                   <input type="text" class="form-control form-text" ng-disabled="true" ng-model="productType" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Product Name:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.name" required>
                                </div>
                              </div> 
                          </div>
                           <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Total Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                 <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.total_price" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.price" required>
                                </div>
                              </div>
                          </div>  
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Frequency:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.frequency" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Quantity/day:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.quantity" required>
                                </div>
                              </div> 
                          </div> 
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Discount on Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.discount || 0" required><span style="position: relative;float: right;margin-right: -233px;margin-top: -27px;font-size: 13px;font-weight: 700;">%</span>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Remaining Quantity:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.remaing_quantity" required>
                                </div>
                              </div>
                          </div> 
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Start Date:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.start_date" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">End Date:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.end_date" required>
                                </div>
                              </div>
                          </div>
                          <div class=" form-group" style="margin-top: 20px;">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div>
                                  <multiple-date-picker disable-days-before="today" day-click="checkSelection" ng-model="myArrayOfDates" disable-days-after="lastDay"></multiple-date-picker>
                                  
                                </div>
                              </div> 
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Delivery Time:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" ng-model="milk.delivery_time" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="title-sub-content" ng-if="selected_dates.length>0 || excpdeldate.length>0" style="margin-top: 62px;margin-left: 53px;">
                                    <div style="margin-top: 17px;">
                                        <div style="margin-top: 17px;" ng-if="selected_dates.length>0">
                                            <h4>Exception date(s) :</h4>
                                            <span ng-repeat="s in selected_dates" style="margin-right: 20px;">{{s}} </span>
                                        </div>
                                        <div style="margin-top: 20px;" ng-if="excpdeldate.length>0">
                                            <h4>Unsubscribed exciting Exception date(s) :</h4>
                                            <span ng-repeat="s in excpdeldate" style="margin-right: 20px;">{{s}} </span>
                                        </div>
                                     <div style="margin-top: 33px;">
                                            <button type="button" class="btn btn-warning button-medium button button-small" ng-if="selected_dates.length>0 || excpdeldate.length>0" ng-click="saveexceptiondate()" style="width: 180px;">Save
                                            </button>
                                        </div>
                                      
                                    </div>
                                
                                </div>
                              </div>
                          </div>                                                             
                        </form>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
</div>
<div ng-include="'views/footer/footer.html'"></div>