<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select Your City Name:</span>
             <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity" ng-change="change(selectedcity)">
              <option ng-repeat="n in cityName" ng-selected="{{n.name == 'Pune'}}" value="{{n.name}}" 
              >{{n.name}}</option>
            </select>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      {{inventryname}} Details
                    </div>
                    
                  </div>
                  <div class="widget-body">
                  <div class="table-responsive" style="max-height: 358px;overflow-y: scroll;">

                    <table class="table table-hover footable table-responsive table-striped table-bordered table-hover no-margin img-table" data-page-size="5" data-filter="#filter" data-filter-text-only="true">
                      <thead>
                        <tr class="info">
                          <th style="width:5%">
                           Sr.no
                          </th>
                          <th style="width:10%">
                           {{inventryname}}
                          </th>
                          <th style="width:25%">
                           {{inventryname}} name
                          </th>
                          <th style="width:25%">
                           {{inventryname}} name in Hindi
                          </th>
                          <th style="width:25%" class="hidden-xs">
                          Yesterdays Price
                          </th>
                          <th style="width:20%" class="hidden-xs">
                           Supplier Price
                          </th>
                          <th style="width:20%" class="hidden-xs">
                           Todays Price
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  ng-repeat="v in VegDetails | filter:selectedcity" >
                         <td>
                            <span class="name" ng-bind="$index +1">
                            </span>
                          </td>
                          <td>
                          <img ng-src="{{v.image}}" check-image>
                          </td>
                          <td>
                            <span class="name" ng-bind="v.name" ng-model="VegDetails[$index].name"></span>
                          </td>
                          <td>
                            <span class="name" ng-bind="v.hindi_name" ng-model="VegDetails[$index].hindi_name"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="v.price" ng-model="VegDetails[$index].price"></span>
                          </td>
                          <td>
                           <input type="number" name="" ng-model="VegDetails[$index].supplier_price">
                          </td> 
                          <td>
                           <input type="number" name="" ng-model="VegDetails[$index].todays_price">
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    </div>

                  </div>
                    <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 13px;">
                      <a ng-click="savevegdata(VegDetails,$index)" class="btn btn-primary" style="width: 151px;">Save</a>
                     </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
</div>
       
<div ng-include="'views/footer/footer.html'"></div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.footable').footable();
    });

</script>

   