<div ng-include="'views/header/header.html'" ></div>
 <div class="container">  
 <form name="form">    
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select City:</span>
             <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity">
              <option ng-repeat="n in cityName" value="{{n.id}}" 
              >{{n.name}}</option>
            </select>
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Select Date:</span>
            <input type="date"  ng-model="date" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;margin-left: 41px;border-radius: 5px;">
               <a ng-click="search(selectedcity,date)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      All Recharge Data 
                    </div>
                    
                  </div>
                  <div class="widget-body">
                  <div class="table-responsive" style="max-height: 358px;overflow-y: scroll;">

                    <table class="table table-hover footable table-responsive table-striped table-bordered table-hover no-margin" data-page-size="5" data-filter="#filter" data-filter-text-only="true">
                      <thead>
                        <tr class="info">
                          <th style="width:5%">
                           Sr.no
                          </th>
                          <th style="width:10%">
                           Customer Name
                          </th>
                          <th style="width:25%">
                           Customer Mobile Number
                          </th>
                          <th style="width:25%">
                          Amount
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  ng-repeat="r in rehrgedetails" >
                          <td>
                          <span class="name" ng-bind="$index +1"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="r.name"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="r.mobile"></span>
                          </td>
                          <td>
                            <span class="name" ng-bind="r.amount"></span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    </div>

                  </div>
                  <div class="pull-right" style="margin-top: 40px;margin-right: 375px;">
                    <span style="font-size: 19px;padding-right: 20px;padding-left: 49px;margin-top: 13px;">Total Amount:</span>
                    <input type="text" ng-disabled="true" ng-model="sum" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
        </form>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   