<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Mobile Number:</span>
            <input type="text" ng-model="phnumber" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;">
               <a ng-click="search(phnumber)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Customer Details
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 38px;">
                  <form class="form-horizontal no-margin">
                  <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Name:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Customer Name" ng-model="customerDetail.name">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Email Id:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <input type="text" class="form-control form-text" placeholder="Email Id" ng-model="customerDetail.email">
                            </div>
                      </div> 
                  </div>
                   <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Address:</label>
                        <div class="col-sm-10">
                           <textarea class="col-xs-4 col-sm-4 col-md-4 form-text" rows="4" ng-model="customerDetail.address"></textarea>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">City:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <select  class="item-select form-control form-text" ng-model="customerDetail.cityid" ng-change="citychange(customerDetail.cityid)">
                              <option ng-value="c.id" ng-repeat="c in cityName" ng-selected="c.id==customerDetail.cityid">{{c.name}}</option>
                            </select>
                            
                            </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Area:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <select  class="item-select form-control form-text" ng-model="customerDetail.areaid" ng-options="a.id as a.name for a in areaName">
                             </select>
                            </div>
                      </div>
                      </div>   
                    <div class=" form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                    <div class="btn-group btsaveleadn-group-xs" style="margin-top: 15px;margin-left: 143px;">
                      <a ng-click="updatecustomerdetail(customerDetail)" class="btn btn-primary" style="width: 151px;">Update</a>
                     </div>
                     </div>
                    </div>   
                      
                    
                    
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
</div>
    <div ng-include="'views/footer/footer.html'"></div>