<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Mobile Number:</span>
            <input type="text" ng-model="phnumber" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;">
               <a ng-click="search(phnumber)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row" ng-show="customerDetail">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-body">
                  <form class="form-horizontal no-margin">
                  <div class=" form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Name:</label>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                          <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Customer Name" ng-model="customerDetail.name" style="width: 218px;">
                        </div>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <label class="col-xs-2 col-sm-2 col-md-2 control-label form-label">City:</label>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                           <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Customer City" ng-model="customerDetail.cityname" style="width: 218px;">
                        </div>
                      </div> 
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <label class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Address:</label>
                        <div class="col-xs-2 col-sm-2 col-md-2">
                           <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Customer Address" ng-model="customerDetail.address" style="width: 275px;margin-left: 25px;">
                        </div>
                      </div> 
                  </div>                      
                  </form>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add subscription details
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 19px;">
                  <div class="row">
                    <div class="col-lg-12 col-md-12" style="height:325px;overflow-y: auto;">
                        <form class="form-horizontal no-margin"  name="subscription_form">
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Product Type:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <select ng-options="p.id as p.name for p in pcode" ng-model="subscriptiondata.pcode"  class="item-select form-control form-text" ng-change="changepcode(subscriptiondata.pcode)" required></select>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Product Name:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <select ng-options="p.id as p.name for p in product" ng-model="subscriptiondata.product_id" ng-change="changeprice(subscriptiondata.product_id)" class="item-select form-control form-text" required></select>
                                </div>
                              </div> 
                          </div>
                           <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Total Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" placeholder="Enter total amount" ng-model="subscriptiondata.total_price" ng-change="remaingQuantity(subscriptiondata.total_price,subscriptiondata.price)" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Price of product" ng-model="subscriptiondata.price" required>
                                </div>
                              </div>
                          </div>  
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Frequency:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <select ng-options="f.id as f.frequency for f in frequency" ng-model="subscriptiondata.frequency" class="item-select form-control form-text" required></select>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Quantity/day:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" placeholder="Quantity per day" ng-model="subscriptiondata.quantity" required><span style="position: relative;float: right;margin-right: -250px;margin-top: -27px;font-size: 13px;font-weight: 700;">{{quantity}}</span>
                                </div>
                              </div> 
                          </div> 
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Discount on Price:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" placeholder="Enter discount to be given" ng-model="subscriptiondata.discount"  ng-change="remaingDiscPriceQuantity(subscriptiondata.discount,subscriptiondata.total_price,subscriptiondata.price)"><span style="position: relative;float: right;margin-right: -233px;margin-top: -27px;font-size: 13px;font-weight: 700;">%</span>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Remaining Quantity:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Quantity left" ng-model="subscriptiondata.remaing_quantity" required><span style="position: relative;float: right;margin-right: -250px;margin-top: -27px;font-size: 13px;font-weight: 700;">{{quantity}}</span>
                                </div>
                              </div>
                          </div> 
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                 <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Start Date:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="start_date form-control form-text" ng-model="subscriptiondata.start_date"  ng-change="GetEndDate(subscriptiondata.start_date,subscriptiondata.remaing_quantity,subscriptiondata.quantity)" required>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">End Date:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <input type="text" class="form-control form-text" ng-model="subscriptiondata.end_date"  ng-disabled="true" required>
                                </div>
                              </div>
                          </div>
                          <div class=" form-group">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label  class="col-xs-3 col-sm-3 col-md-3 control-label form-label" style="font-size: 14px;width: 157px;">Delivery Time:</label>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                  <select ng-options="t.name as t.name for t in alltimings" ng-model="subscriptiondata.delivery_time" class="item-select form-control form-text" required></select>
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="btn-group btsaveleadn-group-xs" style="margin-left: 249px">
                                  <a ng-click="addSubscription(subscriptiondata)" ng-disabled="subscription_form.$invalid" class="btn btn-primary" style="width: 151px;">Add Subscription</a>
                                </div>
                              </div> 
                          </div>                                                               
                        </form>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Dashboard Wrapper End -->
</div>
    <div ng-include="'views/footer/footer.html'"></div>

<script type="text/javascript">
    $(".start_date").datepicker({dateFormat: 'yy-mm-dd'});
</script>   
