<div ng-include="'views/header/header.html'" ></div>
 <div class="container">
      <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <div class="custom-search hidden-sm hidden-xs">
          <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select Your City Name:</span>
            <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity" ng-change="change(selectedcity)">
              <option ng-repeat="n in cityName" >{{n.name}}</option>
            </select>
          </div>
        </div>
        <!-- Sub Nav End -->

<div class="dashboard-wrapper-lg">
     <!-- Row Start -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="widget zoom-body">
                <div class="widget-header">
                  <a id="zoom-click1"><i class="fa fa-caret-square-o-down pull-right" style="margin-top: 16px; cursor:pointer;"></i></a>
                  <div class="title">
                    Todays Order
                    <span class="mini-title">
                      Product wise
                    </span>
                    <button class="btn btn-link" ng-click="exportToExcel('#tbltodayprod')">
                      <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                  </div>
                </div>
                <div class="widget-body">
                  <div id="area-chart1" class="chart-height-md">
                    <div class="panel-body" style="padding: 0px;">
                    <div class="table-responsive" style="height: 163px;overflow-y: scroll;">

                             <table id='tbltodayprod' class="table user-list table-condensed table-striped table-bordered table-hover no-margin">

                                        <thead>
                                          <tr>
                                            <th style="width:20%">
                                             Name
                                            </th>
                                            <th style="width:20%">
                                             Hindi Name
                                            </th>
                                            <th style="width:20%">
                                              Quanity
                                            </th>
                                            <th style="width:20%">
                                              Supplier Price
                                            </th>
                                            <th style="width:20%">
                                              Total
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="p in allproducts">
                                             <td>
                                               <span ng-bind="p.name"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="p.hindi_name"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="p.quantity + ' ' +p.quan"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="p.supplier_price"></span>
                                            </td>
                                            <td>
                                              <!-- <button ng-click="total(l.ID, 'current')" class="lead-btn"><i class="fa fa-eye"></i></button> -->
                                              <span ng-bind="p.supplier_price * p.quantity">
                                                
                                                {{allproducts}}
                                              </span>
                                            </td>
                                            
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                      </div>
                              
                            <!-- <ul class="pagination pull-right hide-if-
                            no-paging"></ul> -->
                          </div>
                         
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- Row End -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="widget zoom-body">
                <div class="widget-header">
                  <div class="title">
                   Today's Order
                    <span class="mini-title">
                      Customer wise
                    </span>
                    <button class="btn btn-link" ng-click="exportToExcel('#tbltodaycust')">
                      <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                  </div>
                </div>
                <div class="widget-body">
                  <div id="area-chart" class="chart-height-md">
                      <div class="table-responsive" style="height:153px;overflow-y:scroll;">
                             <table id='tbltodaycust' class="table  user-list table-condensed table-striped table-bordered table-hover no-margin toggle-circle-filled ">

                                        <thead>
                                          <tr>
                                          <th>Index</th>
                                           <th >
                                          Name
                                            </th>
                                            <th >
                                            Address
                                            </th>
                                            <th >
                                              Delivery time
                                            </th>
                                            <th >
                                              Total
                                            </th>
                                            <th >
                                              Details
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="l in followuplead">
                                            <td>
                                                <span class="name" ng-bind="$index +1"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="showName(l.customer_details)"></span>
                                            </td>
                                             <td>
                                               <span ng-bind="showMobile(l.customer_details)"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="l.delivery_time"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="l.total"></span>
                                            </td>
                                            <td>
                                              <button ng-click="showDetails(l.id, 'current')" class="lead-btn"><i class="fa fa-eye"></i></button>
                                            </td>
                                            
                                          </tr>
                                          
                                        </tbody>
                                      </table>  
                                    </div>                                                
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                  Pending Orders
                  </div>
                  <button class="btn btn-link" ng-click="exportToExcel('#tblPendingOrders')">
                      <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                </div>
                <div class="widget-body">
                <div class="table-responsive">
                  <table id='tblPendingOrders' class="table  table-condensed table-striped table-bordered table-hover no-margin toggle-circle-filled"  data-filter="#filter"  data-page-size="5" data-filter-text-only="true">
                    <thead>
                      <th>Index</th>
                      <th>Customer Name</th>
                      <th>Address</th>
                      <th> Delivery Time</th>
                      <th>Total</th>
                      <th>Details</th>
                      <th ></th>
                      <th style="display:none;">Comment</th>
                      <th style="display:none;">Date</th>
                      <th style="display:none;">Signature</th>
                     
                    </thead>
                    <tbody>
                      <tr ng-repeat="pendingorder in pendingOrders">
                      <td><span class="name" ng-bind="$index +1"></span></td>
                        <td>
                                               <span ng-bind="showName(pendingorder.customer_details)"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="showMobile(pendingorder.customer_details)"></span>
                                            </td>
                                             <td>
                                               <span ng-bind="pendingorder.delivery_time"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="pendingorder.total"></span>
                                            </td>
                                            
                                            <td>
                                          <button ng-click="showDetails(pendingorder.id, 'pending')" class="lead-btn"><i class="fa fa-eye"></i></button>
                                            </td>
                                            <td style="background-color: #e2efef;">
                                            <table class="" style="width: 90%; background-color: #e2efef;">
                                                  <thead> 
                                                    <th >Name</th>
                                                    <th >Quantity</th>
                                                    <th >Price</th>
                                                    <th >Total</th>
                                                   </thead>
                                                   <tbody>
                                                  <tr ng-repeat="order in showOrder(pendingorder.id)">
                                                  <td>
                                                    <span ng-bind="order.name + ' ' +order.hindi_name"></span>
                                                  </td>
                                                  <td>
                                                    <span ng-bind="order.quantity + ' ' +order.quan"></span>
                                                  </td>
                                                  <td>
                                                    <span ng-bind="order.price"></span>
                                                  </td>
                                                  <td>
                                                    <span ng-bind="order.quantity * order.price"></span>
                                                  </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                            <td style="display:none;"></td>
                                            <td style="display:none;">{{date | date:'dd-MM-yyyy'}}</td>
                                            <td style="display:none;"></td>
                      </tr>

                    </tbody>
                    
                  </table>
               <ul class="pagination pull-right hide-if-no-paging"></ul>
                  
                    
               </div>
              </div>

            </div>
            </div>
           
          </div>
          <!-- Row End -->

        </div>
        </div>

  <div ng-include="'views/footer/footer.html'"></div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.footable').footable();
    });

    $("#zoom-click").click(function(){
        $(".zoom-body").toggleClass( "bounce" );
        document.getElementById("column_hide").classList.toggle("hide2");
    });
</script>