
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>VegetableBazar Invoice</title>
    
    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:16px;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }
    
    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.top table td.title{
        font-size:45px;
        line-height:45px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td:nth-child(2){
        border-top:2px solid #eee;
        font-weight:bold;
    }
    
    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
        }
        
        .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
        }
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="http://vegetablebazar.com/img/logo.png" style="width:100%; max-width:140px;margin-top: -20px;">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                www.vegetablebazar.com<br>
                                Mobile No. : 7060339060
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            
            <tr class="heading">
                <td>
                    Billing Details
                </td>
                <td></td>
            </tr>
        </table>
        <div>
            <p>Dear {{ customer_details.name}},</p>
            <p>Thank you for your order, we will deliver your order tomorrow between {{delivery_time}}</p>
        </div>
        <table cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td>
                    Item
                </td>
                <td>
                    Quantity
                </td>
                
                <td>
                    Price
                </td>
                <td>Total</td>
            </tr>
            {{#each .}}
            <tr class="item">
                <td>
                    {{name}}
                </td>
                <td>
                    {{quantity}}
                </td>
                    
                <td>
                    {{price}}
                </td>
                <td>
                    {{quantity*price}}
                </td>
            </tr>
            {{/each}}
                      
            <tr class="total">
                <td></td>
                
                <td>
                  {{total}}
                </td>
            </tr>
        </table>
        <div style="margin-top: 40px;">
            <p>Thanks & Regards,</p>
            <p style="margin-top: -13px;">Team Vegetablebazar.</p>
        </div>
    </div>
</body>
</html>