    <!-- Header Start -->
    <header>
      <a href="index-2.html" class="logo">
        <img src="img/logo.png" alt="Logo" style="width: 119px;height: 96px;"/>
      </a>
      <div class="pull-right">
        <ul id="mini-nav" class="clearfix">
          <li class="list-box user-profile">
            <a href="#/logout" style="font-size: 16px;font-weight: 700;padding-right: 39px;"><i class="fa fa-cog" style="margin-right: 8px;"></i>Logout</a>
          </li>
        </ul>
      </div>
    </header>
    <!-- Header End -->

    <!-- Main Container start -->

  <!-- Top Nav End -->


  <!--nav sidebar -->
<aside>
  <nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
      

<div class="nav-side-menu">
    <div class="brand"> <img src="img/logo.png" alt="Logo" style="height: 68px;margin-bottom: 14px;width: 78px;margin-left: -70px;"/></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list" ng-controller="headerCtrl">
            <ul>

            <li ng-if="check(1)">
              <a href='#/'><i class="fa fa-dashboard"></i>Dashboards<i class="fa fa-dashboard pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(18)">
              <a href='#/deliveredSubscription'><i class="fa fa-calendar-check-o"></i>Delivered Subscription Order<i class="fa fa-calendar-check-o pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(19)">
              <a href='#/vendorSubscription'><i class="fa fa-vimeo"></i>Vendor Subscription Order Payment<i class="fa fa-vimeo pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
             <li ng-if="check(2)">
              <a href='#/notification'><i class="fa fa-bell"></i>FCM Notification<i class="fa fa-bell pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(3)">
              <a href='#/adminRegistration'><i class="fa fa-sign-in"></i>Admin Registration Form<i class="fa fa-sign-in pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(4)">
              <a href='#/customerDetails'>
              <i class="fa fa-user"></i>Customer Details<i class="fa fa-user pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(5)">
              <a href='#/password'>
              <i class="fa fa-key"></i>Reset Password<i class="fa fa-key pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(6)">
              <a href='#/addSCA'>
              <i class="fa fa-refresh"></i>Add State/City/Area<i class="fa fa-refresh pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(7)">
              <a href='#/deliverytime'>
              <i class="fa fa-clock-o"></i>Change Delivery Time<i class="fa fa-clock-o pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(15)">
              <a href='#/addSubscription'>
              <i class="fa fa-calendar-plus-o"></i>Add New Subscription<i class="fa fa-calendar-plus-o pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(16)">
              <a href='#/editSubscription'>
              <i class="fa fa-calendar-minus-o"></i>View &amp; Edit Subscription<i class="fa fa-calendar-minus-o  pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(17)">
              <a href='#/assignSubscription'>
              <i class="fa fa-truck"></i>Assign Subscription<i class="fa fa-truck pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(8)">
              <a href='#/ordereditpanel'>
              <i class="fa fa-list"></i>Order Edit Panel<i class="fa fa-list pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(9)">
              <a href='#/placeOrder'>
              <i class="fa fa-shopping-cart"></i>Place Order<i class="fa fa-shopping-cart pull-right" style="margin-top: 11px;"></i></a>
              
            </li>
            <li ng-if="check(10)">
              <a href="#/AddProductPrice/dairy">
                <i class="fa fa-database"></i>
                Update Dairy Price<i class="fa fa-database pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(10)">
              <a href="#/AddProductPrice/bakery">
                <i class="fa fa-database"></i>
                Update Bakery Price<i class="fa fa-database pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(11)">
              <a href="#/ApproveProductPrice/dairy">
                <i class="fa fa-check"></i>
                Approve Dairy Price<i class="fa fa-check pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(11)">
              <a href="#/ApproveProductPrice/bakery">
                <i class="fa fa-check"></i>
                Approve Bakery Price<i class="fa fa-check pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(12)">
              <a href="#/recharge">
                <i class="fa fa-inr"></i>
                Recharge Master<i class="fa fa-inr pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(13)">
              <a href="#/balance">
                <i class="fa fa-bitcoin"></i>
                Balance Master<i class="fa fa-bitcoin pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
            <li ng-if="check(14)">
              <a href="#/delivery">
                <i class="fa fa-truck"></i>
                Delivery control<i class="fa fa-truck pull-right" style="margin-top: 11px;"></i>
              </a>
            </li>
          
            
          </ul>
            
     </div>
</div>
  </nav>
  
</aside>


