<div ng-include="'views/header/header.html'" ></div>
 <div class="container">  
 <form name="form">    
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Select Date:</span>
            <input type="text" class="date" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="date" ng-change="GetVendorPayment(date)">
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      City Wise Subscription Price 
                      <button class="btn btn-link" ng-click="exportToExcel('#tbltodayprod')">
                      <span class="glyphicon glyphicon-share"></span> Export to Excel
                    </button>
                    </div>
                    
                  </div>
                  <div class="widget-body">
                  <div class="table-responsive" style="max-height: 358px;overflow-y: scroll;">

                    <table id="tbltodayprod" class="table table-hover footable table-responsive table-striped table-bordered table-hover no-margin" data-page-size="5" data-filter="#filter" data-filter-text-only="true">
                      <thead>
                        <tr class="info">
                          <th style="width:10%">
                           Sr.no
                          </th>
                          <th style="width:25%">
                           City
                          </th>
                          <th style="width:30%">
                           Total Payment of Delivered Subscription Order
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  ng-repeat="p in product" >
                          <td>
                          <span class="name" ng-bind="$index +1"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="p.cityname"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="p.price + ' Rs'"></span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
        </form>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   <script type="text/javascript">
    $(".date").datepicker({dateFormat: 'yy-mm-dd'});
</script>  