    <style>
      /* Icon when the collapsible content is shown */
      .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
      }
      /* Icon when the collapsible content is hidden */
      .btnp.collapsed:after {
        content: "\e080";
      }
      .btn_f {
    margin: -10px 0 !important;
      }
      .validdate{
        color: red;
      }
    </style>
    <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
                <div class="widget-header">
                    <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                      Customer  information
                      <!-- <span class="pull-right" style="margin-right: 17px; cursor: pointer;" data-toggle="tooltip" title="Property Details" data-toggle="modal" data-target="#PropertyDetails" id="property_click">
                      <i class="fa fa-file-powerpoint-o "></i> -->
                    </span>
                    </div>
                  </div>       
        </div>
        <!-- Sub Nav End -->
        <!-- Row Start -->

                <div class="widget no-margin" style="padding-bottom: 0px;">
                  <div class="widget-body" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                            <div class="panel-heading">
                              <h4 class="panel-title"><a >Customer Information</a></h4>
                            </div>
                            <div class="panel-body" >
                            <div class="col-md-4">
                            <strong>Customer Name : </strong><span ng-bind="followup.customer.name"></span>
                            </div>
                            <div class="col-md-4">
                              <strong>Mobile No : </strong><span ng-bind="followup.customer.mobile"></span>
                            </div>
                            <div class="col-md-4">
                              <strong>Email : </strong><span ng-bind="followup.customer.email"></span>
                            </div>
                            </div>
                          </div>
                        </div>  

                  


                         <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                        <div class="panel panel-info" style="height: 40vh;overflow-y: scroll;">
                          <div class="panel-heading">
                                   <!-- <button type="button" ng-csv="getArray"  class="btn btn_f btn-info pull-right" csv-header="getHeader()"   filename="Follow_Up_History.csv" field-separator="," decimal-separator=".">Export To CSV</button> -->
                       
                            <h4 class="panel-title"> Order Details</h4>
                          </div>
                          <div class="panel-body">
                             <table class="table table-condensed table-striped table-bordered table-hover no-margin img-table">
                                        <thead>
                                          <tr>
                                          <th style="width:20%">
                                            Image
                                            </th>
                                           <th style="width:20%">
                                            Name
                                            </th>
                                           <th style="width:20%">
                                            Hindi Name
                                            </th>
                                            <th style="width:20%">
                                             Quantity
                                            </th>
                                            <th style="width:20%">
                                             Price
                                            </th>
                                             <th style="width:20%">
                                             Total
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="flp in followup.order">
                                            <td>
                                               <img ng-src="{{flp.image}}"></img>
                                            </td>
                                            <td>
                                               <span ng-bind="flp.name"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="flp.hindi_name"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="flp.quantity"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="flp.price"></span>
                                            </td>
                                             <td>
                                               <span ng-bind="flp.quantity * flp.price"></span>
                                            </td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                              
                            
                          </div>
                        </div>
                      </div> 


                      
                    </div>
                </div>
              </div>
            <!-- Row End -->



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Confirmation Box</h4>
      </div>
      <div class="modal-body">
            <div class="alert alert-warning">
        <strong>Are you sure want to close this lead?</strong> 
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="updateleads(followup.status)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- Main Container end -->
    <script type="text/javascript">

   /* display_ct();*/
    </script>
    <script type="text/javascript">
      $("#status").on("change", function () {        
      $modal = $('#myModal');
      if($(this).val() === 'close'){
        $modal.modal('show');
    }
 });

/*    $("#property_click").click(function(){
      $modal = $('#PropertyDetails');
      $modal.modal('show');

    });*/

    var dateToday = new Date(); 

    $("#datepicker").datepicker({ minDate: 0 });


    </script>
    
