<div ng-include="'views/header/header.html'" ></div>
 <div class="container">    
        <div class="sub-nav hidden-sm hidden-xs">
        </div>
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add New Delivery
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                          <div class="pull-right"><form><input type="text" id="search" ng-model="search_delivery_time" placeholder="Search.."></form></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Available Delivery Time</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 153px;overflow-y: auto;">
                              <div class="col-lg-6 col-md-6" ng-repeat="d in deliveryData | filter:search_delivery_time" style="padding: 5px 0px;">
                              <label><span class="name" ng-bind="$index +1"></span>.</label>
                              <label><span class="name" ng-bind="d.name"></span></label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="mini-widget">
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Add New Delivery Time</div>
                            </div>
                            <div class="mini-widget-body clearfix">
                            <form name="addtime">
                              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 15px;height: 144px;overflow-y: auto;">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="text" class="form-control" placeholder="Enter New Delivery Time" ng-model="newdeltime" required>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                  <button class="btn-group btsaveleadn-group-xs btn-primary" style="width: 167px;padding: 5px;font-size: 16px;" ng-disabled="addtime.$invalid" ng-click="addDelTime(newdeltime)">Add Delivery Time
                                  </button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add Delivery Time Area Wise
                    </div>
                    
                  </div>
                  <div class="widget-body">
                    <div class="row">
                    <form name="area_delivery_time">
                      <div class="col-lg-12 col-md-12">
                          <div class="mini-widget">
                          <div class="pull-right"><input type="text" id="search" ng-model="search_area" placeholder="Search.."></div>
                            <div class="mini-widget-heading clearfix">
                              <div class="pull-left">Select Area, Delivery time</div>                             
                            </div>
                            <div class="mini-widget-body clearfix">

                            <div class="row">
                              <div class="col-lg-12 col-md-12" style="height: 259px;overflow-y: auto;">
                              <div class="col-lg-12 col-md-12">
                                <div class="col-lg-2 col-md-2">
                                  <label  class="control-label form-label" style="font-size: 17px;margin-top: 4px;margin-left: -34px;margin-bottom: 30px;">Select City:</label>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                  <select style="width: 195px;height: 25px;font-size: 17px;border-radius: 5px;margin-left: -127px;" ng-model="selectedci" ng-options="c.id as c.name for c in cityName" ng-value="c.id"  ng-change="citychange(selectedci)" required>
                                </select>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                  <label  class="control-label form-label" style="font-size: 16px;margin-top: 4px;margin-left: -34px;margin-bottom: 30px;">Select Delivery Time:</label>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                  <select style="width: 195px;height: 25px;font-size: 17px;border-radius: 5px;margin-left: -57px;" ng-model="selecteddiltim" ng-options="d.id as d.name for d in deliveryData" required>
                                </select>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                <label  class="control-label form-label" style="font-size: 17px;margin-top: 4px;margin-left: -18px;margin-bottom: 30px;">Select Area to Set Delivery Time:</label>
                              </div>
                              <div class="col-lg-4 col-md-4" ng-if="areaName.length>0">
                              <label>
                                <input type="checkbox" ng-model="selectedall" ng-change="selectAll(selectedall)"> Select All
                              </label>
                              </div>
                              <div class="col-lg-4 col-md-4" ng-repeat="a in areaName | filter:search_area">
                              <label>
                                <input type="checkbox" ng-model="a.Selected" checklist-value="a.name"> {{a.name}}
                              </label>
                              </div>
                              </div>
                            </div>
                            </div>
                          </div>

                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="btn-group btsaveleadn-group-xs" style="margin-top: 4px;margin-left: 15px;">
                        <a ng-click="addareadeltime(selecteddiltim)" class="btn btn-primary"  ng-disabled="area_delivery_time.$invalid" style="width: 335px;">Assign Delivery Time to Above Selected Area</a>
                       </div>
                     </div>
                     </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
       
<div ng-include="'views/footer/footer.html'"></div>

   