<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;padding-left: 49px;">Mobile Number:</span>
            <input type="text" ng-model="phnumber" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;">
               <a ng-click="search(phnumber)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-body">
                  <form class="form-horizontal no-margin">
                  <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Name:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <input type="text" class="form-control form-text" ng-disabled="true" placeholder="Customer Name" ng-model="customerDetail.name">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="col-xs-2 col-sm-2 col-md-2 control-label form-label">Address:</label>
                        <div class="col-sm-10">
                           <input type="text" class="col-xs-4 col-sm-4 col-md-4 form-text" ng-disabled="true" placeholder="Customer Address" ng-model="customerDetail.address">
                        </div>
                      </div> 
                  </div>                      
                  </form>

                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="pull-right"><form><span style="font-size: 14px;color: red;padding: 23px;" ng-if="products.length > 0 && sumofAll <100">Minimum order should be of Rs 100 and You are short of Rs {{100-sumofAll}}</span><button class="btn-group btsaveleadn-group-xs btn-primary order-cart fa fa-shopping-cart" style="width: 167px;padding: 5px;font-size: 16px;margin-top: 7px;margin-right: 10px;" ng-click="showProduct(phnumber)">Add More Product</button></form></div>
                  <div class="widget-header">
                    <div class="title">
                      Cart <span style="margin-left: 39px;">(Total : {{sumofAll}})</span>
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 19px;">
                  <div class="row">
                    <div class="col-lg-12 col-md-12" style="height:225px;overflow-y: auto;">
                      <div class="tabbable-panel"  ng-if="products.length > 0">
                        <div class="tabbable-line">
                          <ul class="nav nav-tabs ">
                          <table  class="table table-striped table-cart-padding" style="margin-top: -15px;margin-bottom: -36px;">
                          <tr  style="font-size: 16px;height: 53px;">
                            <th>Product</th>
                            <th>Product Name</th>
                            <th>Product quantity</th>
                            <th>Product Price</th>
                            <th>Delete Product</th>
                            <th>Product Total</th>

                          </tr>
                          <tr ng-repeat="product in products" style="height: 69px;">
                            <td><img ng-src="{{product.image_domain + product.image}}" width="auto" height="auto" class="cartImage" /></td>
                            <td><div>{{product.name}}</div> <div>({{product.hindi_name}})</div></td>
                            <td><button type="button" class="btn btn-plus" ng-click="increase(product);">+</button><input type="number" ng-model="product.quantity" ng-change="quanChanged(product)" class="input-mini" style="width: 45px;margin-right: 3px;"/>kg<button type="button" class="btn btn-minus" ng-click="decrease(product)">-</button></td>
                            <td>{{product.price}} /kg</td>
                            <td><a href sweetalert sweet-options="{{sweet.option}}" sweet-confirm-option="{{sweet.confirm}}" sweet-cancel-option="{{sweet.cancel}}"  name="login-submit" sweet-on-cancel="checkCancel()" sweet-on-confirm="checkConfirm(product)"  class="button cartremovebutton fa fa-trash-o" ></a></td>
                            <td>Rs{{product.price*product.quantity}}</td>
                          </tr>
                          </table>
                          <hr>
                          <table>
                            <tr style="height: 50px;">
                              <td style="font-size: 19px;font-weight: 700;padding-left: 68px;padding-right: 368px;">Total :</td>
                              <td style="font-size: 19px;font-weight: 700;padding-left: 408px;">{{ sumofAll }} </td>
                            </tr>
                          </table>
                          <hr>
                          <table ng-if="!offerinfo && products.length > 0">
                            <tr style="height: 50px;">
                              <td style="font-size: 19px;font-weight: 700;padding-left: 68px;padding-right: 368px;">
                                
                                <form name="offers_form" style="position: relative;">
                                  <div class="form-group">
                                      <span>Enter Coupon Code Here : </span>
                                    
                                      <input class="account_input form-control" type="text" ng-model="offer" style="position: relative;margin-top: -24px;width: 178px;border-radius: 7px;margin-left: 264px;" required>
                                    
                                      <button class="btn btn-outline button button-block btn-primary" type="button" ng-click="offerCheck(offer)"  ng-disabled="offers_form.$invalid" style="float: right;position: absolute;margin-top: -35px;border-radius: 4px;min-height: 34px;line-height: 10px;margin-left: 453px;">
                                            Apply Coupon Code
                                      </button>
                                    
                                  </div>
                              </form>
                              </td>
                            </tr>
                          </table>
                          <hr>
                          <div  ng-if="offerinfo && products.length > 0">
                          <p class="cart_block_no_products" style="padding: 9px 13px;font-size: 15px;font-weight: 700;">ORDER SUMMARY
                          </p>
                            <table>
                              <tr><td style="padding: 5px 10px;width: 263px;">Price</td><td>Rs. {{oldTotal}}</td></tr>
                              <tr><td style="padding: 5px 10px;width: 263px;">Coupon Discount</td><td>Rs. {{discont}}</td></tr>
                              <tr><td style="padding: 5px 10px;width: 263px;">Total</td><td>Rs {{sumofAll}}</td></tr>
                            </table>
                          </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12" ng-if="deliveryTime">
                <div class="widget">
                  <div class="widget-body">
                  <form class="form-horizontal no-margin">
                  <div class=" form-group">
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <label  class="col-xs-4 col-sm-4 col-md-4 control-label form-label">Select Delivery time:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <select ng-init="deliveryTime = alltimings[0]"  class="item-select form-control form-text" ng-model="deliveryTime" ng-options="time.name for time in alltimings" required></select>
                        </div>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="btn-group btsaveleadn-group-xs" style="margin-left: 143px;" ng-if="products.length > 0 && sumofAll >=100">
                          <a ng-click="go(customerDetail,deliveryTime.name)" class="btn btn-primary" style="width: 151px;">Save Order</a>
                        </div>
                      </div> 
                  </div>                      
                  </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Dashboard Wrapper End -->
</div>
    <div ng-include="'views/footer/footer.html'"></div>