<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">

        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 497px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Registration Panel
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 38px;">
                  <form class="form-horizontal no-margin" name="admin_form" novalidate>
                  <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 130px;">Name:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <input type="text" class="form-control form-text" name="name" placeholder="Name" ng-model="adminDetail.name" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="3" maxLength="20" required>
                          <span class="invalid" ng-show="!admin_form.name.$error.minLength && !admin_form.name.$error.maxLength && admin_form.name.$error.pattern && admin_form.name.$dirty">Invalid name</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 186px;">Email Id:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <input type="email" name="email" class="form-control form-text" placeholder="Email Id" ng-model="adminDetail.email" required>
                             <span class="invalid" ng-show=" admin_form.email.$error.email && admin_form.email.$dirty">Invalid email</span>
                            </div>
                      </div> 
                  </div>
                   <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 130px;">Address:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                           <textarea class="col-xs-4 col-sm-4 col-md-4 form-text" name="address" rows="4" ng-model="adminDetail.address" required></textarea>
                           <span class="invalid" ng-show="admin_form.address.$error.required && admin_form.address.$dirty">Address Required</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 186px;">Mobile:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <input type="text" name="mobile" class="form-control form-text" placeholder="Mobile number" ng-model="adminDetail.mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
                            <span class="invalid" ng-show="!admin_form.mobile.$error.minLength && !admin_form.mobile.$error.maxLength && admin_form.mobile.$error.pattern">Invalid Mobile No</span>
                            </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 form-group" style="margin-left: 0px;">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 186px;">State:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <select class="item-select form-control form-text" name="state" ng-change="statechange(adminDetail.state)" ng-model="adminDetail.state" ng-options="s.id as s.name for s in stateData track by s.id" ng-value="s.id" required>
                                </select>
                            </div>
                      </div>
                      </div> 
                      <div class=" form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 130px;">Master City:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                               <select class="item-select form-control form-text" ng-change="citychange(adminDetail.master_city)" name="master_city" ng-model="adminDetail.master_city" ng-options="c.id as c.name for c in masterCityName track by c.id" ng-value="c.id"></select>
                             </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 186px;">City:</label>
                          <div class="col-xs-4 col-sm-4 col-md-4">
                            <select class="item-select form-control form-text" name="city" ng-model="adminDetail.city" ng-options="c.id as c.name for c in cityName track by c.id" ng-value="c.id" required></select>
                          </div>
                        </div> 
                    </div>  
                    <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 130px;">Password:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <input type="password" name="password" class="form-control form-text" placeholder="Enter Password" ng-model="adminDetail.password" minlength="5" maxlength="15" required>
                          <span class="invalid" ng-show="!admin_form.password.$error.required && (admin_form.password.$error.minlength || admin_form.password.$error.maxlength) && admin_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                          <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 186px;">Confirm Password:</label>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                             <input type="password" name="confirmpassword" class="form-control form-text" placeholder="Re-enter Password" match="adminDetail.password" ng-model="adminDetail.confirmpassword" required>
                              <span class="invalid" ng-show="!admin_form.confirmpassword.$error.required && admin_form.confirmpassword.$error.match && admin_form.confirmpassword.$dirty">Passwords do not match.</span>
                            </div>
                      </div> 
                    </div>
                    <div class=" form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label  class="col-xs-2 col-sm-2 col-md-2 control-label form-label" style="width: 130px;">Role:</label>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                          <select name="role" class="item-select form-control form-text" ng-model="adminDetail.role" ng-options="r.id as r.name for r in roleData"  ng-value="r.id" required>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                      </div> 
                    </div>

                    <div class=" form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                      <button class="btn-group btsaveleadn-group-xs btn-primary" style="margin-top: 15px;margin-left: 143px;width: 144px;padding: 6px;" ng-disabled="admin_form.$invalid" ng-click="adminsignup()">Submit</button>
                     </div>
                    </div>   
                      
                    
                    
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
</div>
    <div ng-include="'views/footer/footer.html'"></div>