
 	<div class="container">
 		<div class="col-lg-12 col-md-12">
 		<div class="widget">
                  <div class="pull-right"><form><input type="text" id="search" ng-model="search_data" placeholder="Search.."><i class="fa fa-shopping-cart" style="font-size: 21px;margin-right: 8px;"></i><span style="font-weight: 600;margin-right: 20px;">{{ sumofAll }}</span></form></div>
                  <div class="widget-header">
                    <div class="title">
                      Add Product to Cart (Press Esc button to escape this screen and view cart Item)
                    </div>
                    
                  </div>
                  <div class="widget-body" style="padding-top: 19px;">
                  <div class="row">
                    <div class="col-lg-12 col-md-12" style="height: 524px;overflow-y: auto;">
                    <div class="tabbable-panel">
						<div class="tabbable-line">
							<ul class="nav nav-tabs " style="padding-top: 0px;">
								<li class="active col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-6">
									<a showtab="" href="#tab_default_1" data-toggle="tab" ng-init="VegetableDetails()">
									<i class="fa fa-cutlery"></i>&nbsp;&nbsp;&nbsp;Dairy </a>
								</li>
								<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-sp-6">
									<a showtab="" href="#tab_default_2" data-toggle="tab" ng-init="FruitDetails()">
									<i class="fa fa-cutlery"></i>&nbsp;&nbsp;&nbsp;Bakery </a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab_default_1">
								<div class="col-md-12">
									<div class="col-md-2" ng-repeat="vegetable in vegetables | filter:search_data" ng-if="vegetable.price">
						    			<div class="product-block">
						    			<div class="left-block">
							    			<div class="product-image-container image">
							    				<img ng-src="{{vegetable.image_domain + vegetable.image}}" width="auto" height="130px"/>
							    			</div>
						    			</div>
						    			<div class="right-block">
							    			<div class="product-meta">
							    				<h5 itemprop="name" class="name">{{vegetable.name}}</h5>
							    				<div class="content_price">
							    					<span>({{vegetable.hindi_name}})</span>
							    				</div>
							    				<div class="content_price">
							    					<span class="price product-price">{{vegetable.price + " Rs/" + vegetable.quan}}</span>
							    				</div>
												<div class="functional-buttons clearfix">
													<a class="button ajax_add_to_cart_button btn btn-default" href="" title="Add to cart" ng-click="showPopup(vegetable.id,vegetable.name,vegetable.hindi_name,vegetable.image_domain,vegetable.image,vegetable.price,vegetable.quan,vegetable.unit)">
													<i class="fa fa-shopping-cart"></i>
													</a>
												</div>
											</div>
										</div>
						    			</div>
					    			</div>
					    		</div>
								</div>
								<div class="tab-pane" id="tab_default_2">
								<div class="col-md-12">
									<div class="col-md-2" ng-repeat="fruit in fruits | filter:search_data" ng-if="fruit.price">
						    			<div class="product-block">
						    			<div class="left-block">
							    			<div class="product-image-container image">
							    				<img ng-src="{{fruit.image_domain + fruit.image}}" width="auto" height="130px"/>
							    			</div>
						    			</div>
						    			<div class="right-block">
							    			<div class="product-meta">
							    				<h5 itemprop="name" class="name">{{fruit.name}}</h5>
							    				<div class="content_price">
							    					<span>({{fruit.hindi_name}})</span>
							    				</div>
							    				<div class="content_price">
							    					<span class="price product-price">{{fruit.price + " Rs/" + fruit.quan}}</span>
							    				</div>
												<div class="functional-buttons clearfix">
													<a class="button ajax_add_to_cart_button btn btn-default" href="" title="Add to cart" ng-click="showPopup(fruit.id,fruit.name,fruit.hindi_name,fruit.image_domain,fruit.image,fruit.price,fruit.quan,fruit.unit)">
													<i class="fa fa-shopping-cart"></i>
													</a>
												</div>
											</div>
										</div>
						    			</div>
					    			</div>
					    		</div>
								</div>
							</div>
						</div>
					</div>
                    </div>
                  </div>
                  </div>
              </div>
 		</div>
 	</div>