<div ng-include="'views/header/header.html'" ></div>
 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          
          <div class="custom-search hidden-sm hidden-xs">
            <span style="color: #ededed;font-size: 19px;padding-right: 20px;">Select City Name and Date to see the updated {{inventryname}} detail:</span>
            <select style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;" ng-model="selectedcity">
              <option ng-repeat="n in cityName" value="{{n.name}}" 
              >{{n.name}}</option>
            </select>
            <input type="date"  ng-model="date" style="width: 195px;height: 33px;font-size: 17px;border-radius: 5px;">
            <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 11px;margin-left: 41px;border-radius: 5px;">
               <a ng-click="search(selectedcity,date)" class="btn btn-primary fa fa-search" style="width: 46px;padding: 10px;"></a>
            </div>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" style="min-height: 570px;">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      {{inventryname}} Updated Price
                    </div>
                    
                  </div>
                  <div class="widget-body">
                  <div class="table-responsive" style="max-height: 358px;overflow-y: scroll;">

                    <table class="table table-hover footable table-responsive table-striped table-bordered table-hover no-margin" data-page-size="5" data-filter="#filter" data-filter-text-only="true">
                      <thead>
                        <tr class="info">
                          <th style="width:10%">
                           Sr.no
                          </th>
                          <th style="width:25%">
                           {{inventryname}} name
                          </th>
                          <th style="width:25%">
                           {{inventryname}} name in Hindi
                          </th>
                          <th style="width:25%" class="hidden-xs">
                          Yesterdays Price
                          </th>
                          <th style="width:20%" class="hidden-xs">
                           Supplier Price
                          </th>
                          <th style="width:20%" class="hidden-xs">
                           Todays Price
                          </th>
                          <th style="width:30%" class="hidden-xs">
                           City
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  ng-repeat="v in MasterVegDetails | filter:selectedcity" >
                         <td>
                            <span class="name" ng-bind="$index +1">
                            </span>
                          </td>
                          <td>
                            <span class="name" ng-bind="v.name"></span>
                          </td>
                          <td>
                            <span class="name" ng-bind="v.hindi_name"></span>
                          </td>
                          <td>
                          <span class="name" ng-bind="v.price"></span>
                          </td>
                          <td>
                           <span class="name" ng-bind="v.supplier_price"></span>
                          </td> 
                          <td>
                           <input type="number" name="" ng-model="v.todays_price">
                          </td>
                          <td>
                           <span class="name" ng-bind="v.city"></span>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                    </div>

                  </div>
                    <div class="btn-group btsaveleadn-group-xs pull-right" style="margin-top: 13px;">
                      <a ng-click="saveallvegdata(MasterVegDetails,$index)" class="btn btn-primary" style="width: 151px;">Approve</a>
                     </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          

        </div>
        <!-- Dashboard Wrapper End -->
</div>
       
<div ng-include="'views/footer/footer.html'"></div>
<script type="text/javascript">

    $(document).ready(function() {
        $('.footable').footable();
    });

</script>

   